# Data Wrangling in Pandas

This session draws primarily on Chapter 7 in Python for Data Analysis.  It covers methods that are used heavily in 'data wrangling', which refers to the data manipulation that is often needed to transform raw data into a form that is useful for analysis.  We'll stick to the data and examples used in the book for most of this session, since the examples are clearer on the tiny datasets.  After that we will work through some of these methods again using real data.

Key methods covered include:

* Merging and Concatenating
* Reshaping data
* Data transformations
* Categorization
* Detecting and Filtering Outliers
* Creating Dummy Variables

In [40]:
import pandas as pd
import numpy as np

## Merging

Merging two datasets is a very common operation in preparing data for analysis.  It generally means adding columns from one table to colums from another, where the value of some key, or merge field, matches.

Let's begin by creating two simple DataFrames to be merged.

In [6]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2

Here is a many to one merge.  The join field is implicit, based on what columns it finds in common between the two dataframes. Note that they share some values of the key field (a, b), but do not share key values c and d.  What do you expect to happen when we merge them? The result contains the values from both inputs where they both have a value of the merge field, which is 'key' in this example.  The default behavior is that the key value has to be in both inputs to be kept.  In set terms it would be an intersection of the two sets.

In [7]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

Here is the same merge, but making the join field explicit.

In [8]:
pd.merge(df1,df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [9]:
#what if there are more than one value of key in both dataframes? This is a many-to-many merge.
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df3 = pd.DataFrame({'key': ['a', 'b', 'b', 'd'],'data2': range(4)})
print(df1)
print(df3)
pd.merge(df1,df3, on='key')
#This produces a cartesian product of the number of occurrences of each key value in both dataframes:
# (b shows up 3 times in df1 and 2 times in df3, so we get 6 occurrences in the result of the merge)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   b      2
3   d      3

  key  data1  data2
0   b      0      1
1   b      0      2
2   b      1      1
3   b      1      2
4   b      6      1
5   b      6      2
6   a      2      0
7   a      4      0
8   a      5      0

In [10]:
# There are several types of joins: left, right, inner, and outer. Let's compare them.
# How does a 'left' join compare to our initial join?  Note that it keeps the result if it shows up in df1,
# regardless of whether it also shows up in df2.  It fills in a value of NaN for the missing value from df2.
pd.merge(df1,df3, on='key', how='left')

  key  data1  data2
0   b      0    1.0
1   b      0    2.0
2   b      1    1.0
3   b      1    2.0
4   a      2    0.0
5   c      3    NaN
6   a      4    0.0
7   a      5    0.0
8   b      6    1.0
9   b      6    2.0

In [11]:
#How does a 'right' join compare?  Same idea, but this time it keeps a result if it shows up in df2, regardless
# of whether it also shows up in df1.
pd.merge(df1,df3, on='key', how='right')

  key  data1  data2
0   b    0.0      1
1   b    1.0      1
2   b    6.0      1
3   b    0.0      2
4   b    1.0      2
5   b    6.0      2
6   a    2.0      0
7   a    4.0      0
8   a    5.0      0
9   d    NaN      3

In [12]:
#How does an 'inner' join compare?
pd.merge(df1,df3, on='key', how='inner')
# seems to be the default argument...

  key  data1  data2
0   b      0      1
1   b      0      2
2   b      1      1
3   b      1      2
4   b      6      1
5   b      6      2
6   a      2      0
7   a      4      0
8   a      5      0

In [13]:
#How does an 'outer' join compare?  If inner joins are like an intersection of two sets, outer joins are unions.
pd.merge(df1,df3, on='key', how='outer')

   key  data1  data2
0    b    0.0    1.0
1    b    0.0    2.0
2    b    1.0    1.0
3    b    1.0    2.0
4    b    6.0    1.0
5    b    6.0    2.0
6    a    2.0    0.0
7    a    4.0    0.0
8    a    5.0    0.0
9    c    3.0    NaN
10   d    NaN    3.0

In [14]:
#What if the join fields have different names?  No problem - just specify the names.
df4 = pd.DataFrame({'key_1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df5 = pd.DataFrame({'key_2': ['a', 'b', 'b', 'd'],'data2': range(4)})
pd.merge(df4,df5, left_on='key_1', right_on='key_2')

  key_1  data1 key_2  data2
0     b      0     b      1
1     b      0     b      2
2     b      1     b      1
3     b      1     b      2
4     b      6     b      1
5     b      6     b      2
6     a      2     a      0
7     a      4     a      0
8     a      5     a      0

In [15]:
# Here is an example that uses a combination of a data column and an index to merge two dataframes.
df4 = pd.DataFrame({'key_1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df5 = pd.DataFrame({'data2': [4,6,8,10]}, index=['a','b','c','d'])
pd.merge(df4,df5, left_on='key_1', right_index=True)

  key_1  data1  data2
0     b      0      6
1     b      1      6
6     b      6      6
2     a      2      4
4     a      4      4
5     a      5      4
3     c      3      8

## Concatenating

In [17]:
# Concatenating can append rows, or columns, depending on which axis you use. Default is 0
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
pd.concat([s1, s2, s3])
# Since we are concatenating series on axis 0, this creates a longer series, appending each of the three series

a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64

In [20]:
# What if we concatenate on axis 1?
pd.concat([s1, s2, s3], axis=1)

C:\Users\hishamur.Ishrat\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [21]:
# Outer join is the default:
pd.concat([s1, s2, s3], axis=1, join='outer')

C:\Users\hishamur.Ishrat\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [22]:
# What would an inner join produce?
pd.concat([s1, s2, s3], axis=1, join='inner')

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [23]:
# We need some overlapping values to have the inner join produe non-empty results
s4 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
s5 = pd.Series([1, 2, 3], index=['d', 'e', 'f'])
s6 = pd.Series([7, 8, 9, 10], index=['d', 'e', 'f', 'g'])
pd.concat([s4, s5, s6], axis=1, join='outer')

C:\Users\hishamur.Ishrat\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """

     0    1     2
c  4.0  NaN   NaN
d  5.0  1.0   7.0
e  6.0  2.0   8.0
f  NaN  3.0   9.0
g  NaN  NaN  10.0

In [24]:
# Here is the inner join 
pd.concat([s4, s5, s6], axis=1, join='inner')
# Note that it contains only entries that overlap in all three series.

   0  1  2
d  5  1  7
e  6  2  8

## Reshaping with Hierarchical Indexing

In [25]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                 index=pd.Index(['Ohio', 'Colorado'], name='state'),
                 columns=pd.Index(['one', 'two', 'three'], name='number'))
data

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [26]:
# Stack pivots the columns into rows, producing a Series with a hierarchical index:
result = data.stack()
result

state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int32

In [27]:
# Unstack reverses this process:
result.unstack()

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

See also the related pivot method

## Data Transformations

In [66]:
# Start with a dataframe containing some duplicate values
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,'k2': [1, 1, 2, 3, 3, 4, 99]})
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two  99

In [67]:
# How to see which rows contain duplicate values
data.duplicated()

0    False
1     True
2    False
3    False
4     True
5    False
6    False
dtype: bool

In [ ]:
# How to remove duplicate values
data.drop_duplicates()

In [ ]:
#If 99 is a code for missing data, we could replace any such values with NaNs
data['k2'].replace(99,np.nan)

## Categorization (binning)

In [28]:
# Let's look at how to create categories of data using ranges to bin the data using cut
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
type(cats)

pandas.core.arrays.categorical.Categorical

In [29]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]]
              closed='right',
              dtype='interval[int64]')

In [30]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [31]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [32]:
# Consistent with mathematical notation for intervals, a parenthesis means that the side is open while the 
#square bracket means it is closed (inclusive). Which side is closed can be changed by passing right=False:
cats = pd.cut(ages, bins, right=False)
print(ages)
print(pd.value_counts(cats))

[20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
[25, 35)     4
[18, 25)     4
[35, 60)     3
[60, 100)    1
dtype: int64

### Removing Outliers

In [33]:
# Start by creating a dataframe with 4 columns of 1,000 random numbers
# We'll use a fixed seed for the random number generator to get repeatable results
np.random.seed(12345)
data = pd.DataFrame(np.random.randn(1000, 4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [34]:
# This identifies any values in column 3 with absolute values > 3
col = data[3]
col[np.abs(col) > 3]

97     3.927528
305   -3.399312
400   -3.745356
Name: 3, dtype: float64

In [35]:
# This identifies all the rows with any column containing absolute values > 3
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [36]:
# Now we can cap the values at -3 to 3 using this:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000

### Computing Dummy Variables

In [37]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [38]:
# This generates dummy variables for each value of key
# Dummy variables are useful in statistical modeling, to have 0/1 indicator
# variables for the presence of some condition
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [39]:
# This generates dummy variables for each value of key and appends these to the dataframe
dummies = pd.get_dummies(df['key'], prefix='key')
df_with_dummy = df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

Notice that we used join instead of merge.  The join method is very similar to merge, but uses indexes to merge, by default.  From the documentation:

http://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging
merge is a function in the pandas namespace, and it is also available as a DataFrame instance method, with the calling DataFrame being implicitly considered the left object in the join.

The related DataFrame.join method, uses merge internally for the index-on-index and index-on-column(s) joins, but joins on indexes by default rather than trying to join on common columns (the default behavior for merge). If you are joining on index, you may wish to use DataFrame.join to save yourself some typing

## A bit more: 
1. Filter out records with more than 4 bedrooms
2. Create dummy variables for each bedroom count (e.g. bed_1 would have 1 for rows with 1 bedroom, 0 for others), and merge them with the dataframe
3. Filter sqft < 500 and > 3000
4. Create a set of 5 bins for price and do counts of how many records are in each category

In [51]:
import re as re, pandas as pd, numpy as np
cl = pd.read_csv('items.csv')
for i in cl['bedrooms'].index:
    r = re.search('(?<=\/ )(.*)(?=br)', cl.loc[i,'bedrooms'])
    cl.loc[i,'bedrooms'] = r.group(0) if r else np.nan

for i in cl['sqft'].index:
    r = re.search('(\d+)(?=ft² -)', cl.loc[i,'sqft'])
    cl.loc[i,'sqft'] = r.group(1) if r else np.nan
    
cl=cl.fillna(0)    
cl['bedrooms']=cl['bedrooms'].astype(int)
cl['sqft']=cl['sqft'].astype(int)
cl[cl['bedrooms'] > 4]

df = cl[cl['bedrooms'] <= 4]
df[:100]

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,1,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,950,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,1,4046761563,0.000000,Sep 4 2013,/sfc/apa/4046761563.html,0.000000,710,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,1,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,644,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,2,4036170429,0.000000,Sep 4 2013,/sfc/apa/4036170429.html,0.000000,1450,http://sfbay.craigslist.org/sfc/apa/
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,2,4046732678,0.000000,Sep 4 2013,/sfc/apa/4046732678.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/
5,(sunset / parkside),"$1250 - 1 bdrm, 1 bath",$1250,1,4046731229,0.000000,Sep 4 2013,/sfc/apa/4046731229.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/
6,(SOMA / south beach),Made For The Die-hard Giants Fan,$3249,0,4046730047,-122.389798,Sep 4 2013,/sfc/apa/4046730047.html,37.774192,549,http://sfbay.craigslist.org/sfc/apa/
7,(russian hill),Open Concept 1bed 1bath,$2690,1,4046570245,-122.420787,Sep 4 2013,/sfc/apa/4046570245.html,37.796034,781,http://sfbay.craigslist.org/sfc/apa/
8,0,"Contemporary, charming 2bds/1ba with private d...",$2850,2,4006732632,-122.457100,Sep 4 2013,/sfc/apa/4006732632.html,37.735400,0,http://sfbay.craigslist.org/sfc/apa/
9,(pacific heights),"2bd/2.5ba, 2 car tandem parking @ 1998 Broadwa...",$6500,2,4046018830,-122.429850,Sep 4 2013,/sfc/apa/4046018830.html,37.794973,1400,http://sfbay.craigslist.org/sfc/apa/index200.html
10,(SOMA / south beach),"Stunning Modern GARDEN Loft! Upgrades, Views &...",$4100,1,4045981009,-122.402387,Sep 4 2013,/sfc/apa/4045981009.html,37.781055,0,http://sfbay.craigslist.org/sfc/apa/index200.html
11,(marina / cow hollow),"$4700. Top Flat, remodeled, newer building",$4700,2,4036079016,-122.435772,Sep 4 2013,/sfc/apa/4036079016.html,37.798487,1300,http://sfbay.craigslist.org/sfc/apa/index200.html
12,(SOMA / south beach),2/Bed Room /2Bath Room Apartment,$4500,2,4045848497,-122.401796,Sep 4 2013,/sfc/apa/4045848497.html,37.781521,941,http://sfbay.craigslist.org/sfc/apa/index200.html
13,(sunset / parkside),Central Sunset Top unit Flat 1Br 1Ba,$2200,1,4045983183,-122.486122,Sep 4 2013,/sfc/apa/4045983183.html,37.759468,0,http://sfbay.craigslist.org/sfc/apa/index200.html
14,(downtown / civic / van ness),Nice Jr 1 Bedroom: bright/spacious/hardwoods/p...,$2095,1,3999189643,-122.412680,Sep 4 2013,/sfc/apa/3999189643.html,37.786792,500,http://sfbay.craigslist.org/sfc/apa/index200.html
15,(downtown / civic / van ness),Nice STUDIO- bright/spacious/hardwoods/great l...,$1600,0,4026681979,-122.414636,Sep 4 2013,/sfc/apa/4026681979.html,37.785678,400,http://sfbay.craigslist.org/sfc/apa/index200.html
16,(SOMA / south beach),Furnished B&T loft w/ office+patio *10-12mo le...,$5500,1,4045960170,0.000000,Sep 4 2013,/sfc/apa/4045960170.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index200.html
17,(SOMA / south beach),Channel Your Inner Explorer,$3274,1,4046428851,-122.389905,Sep 4 2013,/sfc/apa/4046428851.html,37.774243,758,http://sfbay.craigslist.org/sfc/apa/index100.html
18,(twin peaks / diamond hts),Remodeled Clarendon Heights Home with VIEWS; G...,$8200,3,4046427054,-122.449987,Sep 4 2013,/sfc/apa/4046427054.html,37.758892,0,http://sfbay.craigslist.org/sfc/apa/index100.html
19,(castro / upper market),Luxury Home in Clarendon Heights with VIEWS; P...,$8200,3,4046420052,-122.450395,Sep 4 2013,/sfc/apa/4046420052.html,37.758858,0,http://sfbay.craigslist.org/sfc/apa/index100.html
20,(financial district),Modern 1 BD/ 1 BA condo in a historic building...,$2995,1,4026544139,0.000000,Sep 4 2013,/sfc/apa/4026544139.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index100.html
21,(richmond / seacliff),"Bright and Spacious Top Floor Studio, Hardwood...",$1695,0,4036933089,0.000000,Sep 4 2013,/sfc/apa/4036933089.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index100.html
22,(pacific heights),Remodeled Two Bedroom With New Carpet & Parkin...,$3000,2,4046390878,-122.438056,Sep 4 2013,/sfc/apa/4046390878.html,37.789326,0,http://sfbay.craigslist.org/sfc/apa/index100.html
23,(SOMA / south beach),Live/Work Loft + HUGE 400 Sqft Patio *PICS*,$3900,1,4031288668,-122.395744,Sep 4 2013,/sfc/apa/4031288668.html,37.777698,950,http://sfbay.craigslist.org/sfc/apa/index100.html
24,(castro / upper market),NEWLY REDECORATED WITH GARDEN VIEWS - GREAT LO...,$2400,1,4036566554,-122.435188,Sep 3 2013,/sfc/apa/4036566554.html,37.762671,0,http://sfbay.craigslist.org/sfc/apa/index700.html
25,(castro / upper market),Gorgeous furnished townhouse with private elev...,$10000,3,4044142664,-122.428202,Sep 3 2013,/sfc/apa/4044142664.html,37.759692,0,http://sfbay.craigslist.org/sfc/apa/index700.html
26,(glen park),Exquisite Furnished home. ~ J.Wavro,$9750,4,4044135676,-122.428977,Sep 3 2013,/sfc/apa/4044135676.html,37.736388,0,http://sfbay.craigslist.org/sfc/apa/index700.html
27,(twin peaks / diamond hts),Large Miraloma Park 4bd/3ba single family home...,$4950,4,4044132086,-122.454932,Sep 3 2013,/sfc/apa/4044132086.html,37.741777,0,http://sfbay.craigslist.org/sfc/apa/index700.html
28,(SOMA / south beach),Full floor flat - 1 bedroom 1 bath ~ J.Wavro,$4200,1,4044127658,-122.395478,Sep 3 2013,/sfc/apa/4044127658.html,37.788092,0,http://sfbay.craigslist.org/sfc/apa/index700.html
29,(marina / cow hollow),Top floor remodeled studio. Available October ...,$2150,0,4044120912,-122.429855,Sep 3 2013,/sfc/apa/4044120912.html,37.802583,0,http://sfbay.craigslist.org/sfc/apa/index700.html
...,...,...,...,...,...,...,...,...,...,...,...
70,(Alta Loma & Eastmoor Ave.),Daly City home for rent,$3000,3,4045978167,-122.478884,Sep 4 2013,/sfc/apa/4045978167.html,37.684933,1450,http://sfbay.craigslist.org/sfc/apa/index200.html
71,(marina / cow hollow),Prime Cow Hollow,$8975,3,4045978082,-122.444558,Sep 4 2013,/sfc/apa/4045978082.html,37.795865,2700,http://sfbay.craigslist.org/sfc/apa/index200.html
72,(SOMA / south beach),Updated Top Floor Studio 9/15/13,$3219,0,4045961980,0.000000,Sep 4 2013,/sfc/apa/4045961980.html,0.000000,600,http://sfbay.craigslist.org/sfc/apa/index200.html
73,(SOMA / south beach),"Infinity Luxury - great location, parking, gym...",$3900,1,4045944122,-122.391858,Sep 4 2013,/sfc/apa/4045944122.html,37.789369,0,http://sfbay.craigslist.org/sfc/apa/index200.html
74,(SOMA / south beach),23rd Floor alcove corner 1bedroom w/ $0 deposit!*,$3650,1,4035813483,-122.402025,Sep 4 2013,/sfc/apa/4035813483.html,37.786248,756,http://sfbay.craigslist.org/sfc/apa/index200.html
75,(twin peaks / diamond hts),Suburban City Life. The Best of Both Worlds!,$2625,1,4045930555,-122.439559,Sep 4 2013,/sfc/apa/4045930555.html,37.744708,615,http://sfbay.craigslist.org/sfc/apa/index200.html
76,(castro / upper market),2-Bedroom Castro/Upper Market,$2950,2,4046408764,-122.433637,Sep 4 2013,/sfc/apa/4046408764.html,37.757751,800,http://sfbay.craigslist.org/sfc/apa/index100.html
77,(SOMA / south beach),Private 250 Sq Ft Patio - Modern Full Service ...,$3300,1,4031479190,-122.394035,Sep 4 2013,/sfc/apa/4031479190.html,37.776333,700,http://sfbay.craigslist.org/sfc/apa/index100.html
78,(downtown / civic / van ness),NEW Studio w/ AMAZING Views!,$2436,0,4046277814,-122.417501,Sep 4 2013,/sfc/apa/4046277814.html,37.776541,0,http://sfbay.craigslist.org/sfc/apa/index100.html
79,(noe valley),Completely Remodeled Large Top Floor Flat in N...,$5995,3,4046404897,-122.422308,Sep 4 2013,/sfc/apa/4046404897.html,37.745252,0,http://sfbay.craigslist.org/sfc/apa/index100.html
80,(SOMA / south beach),Close proximity to everything!,$4373,2,4046397840,0.000000,Sep 4 2013,/sfc/apa/4046397840.html,0.000000,1120,http://sfbay.craigslist.org/sfc/apa/index100.html
81,(richmond / seacliff),UNIQUE BI-LEVEL UNIT,$2000,1,4046312223,-122.486622,Sep 4 2013,/sfc/apa/4046312223.html,37.776470,0,http://sfbay.craigslist.org/sfc/apa/index100.html
82,(alamo square / nopa),"Large 3BR flat with classic SF charm, near USF...",$4495,3,4035736395,0.000000,Sep 3 2013,/sfc/apa/4035736395.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index700.html
83,(downtown / civic / van ness),Remodeled Studio w/ Hrdwd Floors available ~ J...,$1650,0,4044094974,-122.415316,Sep 3 2013,/sfc/apa/4044094974.html,37.780719,0,http://sfbay.craigslist.org/sfc/apa/index700.html
86,(alamo square / nopa),Remodeled 1/1+office w/ park view ~ J.Wavro,$3450,1,4044090038,-122.436129,Sep 3 2013,/sfc/apa/4044090038.html,37.775206,0,http://sfbay.craigslist.org/sfc/apa/index700.html
87,(twin peaks / diamond hts),YOU Gottah See IT~Panorama VIEW~Private Huge D...,$2950,1,4038729024,-122.443284,Sep 3 2013,/sfc/apa/4038729024.html,37.753567,800,http://sfbay.craigslist.org/sfc/apa/index500.html
88,(mission district),"Mission Doloras 2 DR-1Bath Condo $5,500",$5500,2,4044531866,0.000000,Sep 3 2013,/sfc/apa/4044531866.html,0.000000,1550,http://sfbay.craigslist.org/sfc/apa/index500.html
89,(marina / cow hollow),ID#1103: Cw Hlw 1BR w/Shrd Gdn Patio &Pkg,$2750,1,4044551207,-122.430954,Sep 3 2013,/sfc/apa/4044551207.html,37.799222,0,http://sfbay.craigslist.org/sfc/apa/index500.html
90,(cole valley / ashbury hts),Beautiful 2 bed/2 bath Owner's Unit,$5800,2,4044570326,-122.452895,Sep 3 2013,/sfc/apa/4044570326.html,37.758063,1800,http://sfbay.craigslist.org/sfc/apa/index500.html
91,(pacific heights),ID#1400: Remodeled 1BR/1BA Spacious Condo,$4000,1,4044547327,-122.443746,Sep 3 2013,/sfc/apa/4044547327.html,37.792204,0,http://sfbay.craigslist.org/sfc/apa/index500.html
92,(pacific heights),ID#1399: Pacific Heights Furnished 1BR/1BA Gar...,$4000,1,4044545903,-122.439408,Sep 3 2013,/sfc/apa/4044545903.html,37.794679,0,http://sfbay.craigslist.org/sfc/apa/index500.html
93,(nob hill),ID#1385: Large 2BR Remodeled Apt w/SF Charm!,$3950,2,4044548610,-122.412979,Sep 3 2013,/sfc/apa/4044548610.html,37.792962,0,http://sfbay.craigslist.org/sfc/apa/index500.html
94,(west portal / forest hill),BEAUTIFUL 3BR/3BA IN FOREST HILLS - $5500,$5500,3,4035404540,0.000000,Sep 3 2013,/sfc/apa/4035404540.html,0.000000,1900,http://sfbay.craigslist.org/sfc/apa/index400.html
95,(nob hill),STUDIO with HARDWOOD and UPDATED Kitchen and B...,$1750,0,4044900639,-122.411084,Sep 3 2013,/sfc/apa/4044900639.html,37.790625,0,http://sfbay.craigslist.org/sfc/apa/index400.html
96,(lower haight),FUN LOC! HARDWOOD! REAR UNIT! PET OK! W&D IN B...,$3395,2,4044899568,0.000000,Sep 3 2013,/sfc/apa/4044899568.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index400.html
97,(cole valley / ashbury hts),"((> ""NO OPEN HOUSE"" & ""No Rentals"" at 1...",0,0,4032504060,0.000000,Sep 3 2013,/sfc/apa/4032504060.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index400.html
98,(visitacion valley),Newly Remodeled Home For Rent,$2800,4,4044889792,-122.407013,Sep 3 2013,/sfc/apa/4044889792.html,37.711190,1904,http://sfbay.craigslist.org/sfc/apa/index400.html
99,(marina / cow hollow),Marina Studio with Skyline Views,$2795,0,4044853832,-122.441043,Sep 3 2013,/sfc/apa/4044853832.html,37.799531,500,http://sfbay.craigslist.org/sfc/apa/index400.html
100,(USF / panhandle),Super studio with fireplace and hardwood floors,$1500,0,4044857472,-122.441061,Sep 3 2013,/sfc/apa/4044857472.html,37.777380,0,http://sfbay.craigslist.org/sfc/apa/index400.html
101,(USF / panhandle),Ground Flr 1 BR with shared yard. GGPark/Alamo...,$1700,1,4044881439,-122.439902,Sep 3 2013,/sfc/apa/4044881439.html,37.774722,0,http://sfbay.craigslist.org/sfc/apa/index400.html

In [52]:
dummies = pd.get_dummies(df['bedrooms'], prefix='bed')
df_with_dummy = df.join(dummies)
df_with_dummy

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage,bed_0,bed_1,bed_2,bed_3,bed_4
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,1,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,950,http://sfbay.craigslist.org/sfc/apa/,0,1,0,0,0
1,(SOMA / south beach),Love where you live!,$3354,1,4046761563,0.000000,Sep 4 2013,/sfc/apa/4046761563.html,0.000000,710,http://sfbay.craigslist.org/sfc/apa/,0,1,0,0,0
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,1,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,644,http://sfbay.craigslist.org/sfc/apa/,0,1,0,0,0
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,2,4036170429,0.000000,Sep 4 2013,/sfc/apa/4036170429.html,0.000000,1450,http://sfbay.craigslist.org/sfc/apa/,0,0,1,0,0
4,(lower nob hill),Experience Luxury Living in San Fransisco!,$3892,2,4046732678,0.000000,Sep 4 2013,/sfc/apa/4046732678.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/,0,0,1,0,0
5,(sunset / parkside),"$1250 - 1 bdrm, 1 bath",$1250,1,4046731229,0.000000,Sep 4 2013,/sfc/apa/4046731229.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/,0,1,0,0,0
6,(SOMA / south beach),Made For The Die-hard Giants Fan,$3249,0,4046730047,-122.389798,Sep 4 2013,/sfc/apa/4046730047.html,37.774192,549,http://sfbay.craigslist.org/sfc/apa/,1,0,0,0,0
7,(russian hill),Open Concept 1bed 1bath,$2690,1,4046570245,-122.420787,Sep 4 2013,/sfc/apa/4046570245.html,37.796034,781,http://sfbay.craigslist.org/sfc/apa/,0,1,0,0,0
8,0,"Contemporary, charming 2bds/1ba with private d...",$2850,2,4006732632,-122.457100,Sep 4 2013,/sfc/apa/4006732632.html,37.735400,0,http://sfbay.craigslist.org/sfc/apa/,0,0,1,0,0
9,(pacific heights),"2bd/2.5ba, 2 car tandem parking @ 1998 Broadwa...",$6500,2,4046018830,-122.429850,Sep 4 2013,/sfc/apa/4046018830.html,37.794973,1400,http://sfbay.craigslist.org/sfc/apa/index200.html,0,0,1,0,0
10,(SOMA / south beach),"Stunning Modern GARDEN Loft! Upgrades, Views &...",$4100,1,4045981009,-122.402387,Sep 4 2013,/sfc/apa/4045981009.html,37.781055,0,http://sfbay.craigslist.org/sfc/apa/index200.html,0,1,0,0,0
11,(marina / cow hollow),"$4700. Top Flat, remodeled, newer building",$4700,2,4036079016,-122.435772,Sep 4 2013,/sfc/apa/4036079016.html,37.798487,1300,http://sfbay.craigslist.org/sfc/apa/index200.html,0,0,1,0,0
12,(SOMA / south beach),2/Bed Room /2Bath Room Apartment,$4500,2,4045848497,-122.401796,Sep 4 2013,/sfc/apa/4045848497.html,37.781521,941,http://sfbay.craigslist.org/sfc/apa/index200.html,0,0,1,0,0
13,(sunset / parkside),Central Sunset Top unit Flat 1Br 1Ba,$2200,1,4045983183,-122.486122,Sep 4 2013,/sfc/apa/4045983183.html,37.759468,0,http://sfbay.craigslist.org/sfc/apa/index200.html,0,1,0,0,0
14,(downtown / civic / van ness),Nice Jr 1 Bedroom: bright/spacious/hardwoods/p...,$2095,1,3999189643,-122.412680,Sep 4 2013,/sfc/apa/3999189643.html,37.786792,500,http://sfbay.craigslist.org/sfc/apa/index200.html,0,1,0,0,0
15,(downtown / civic / van ness),Nice STUDIO- bright/spacious/hardwoods/great l...,$1600,0,4026681979,-122.414636,Sep 4 2013,/sfc/apa/4026681979.html,37.785678,400,http://sfbay.craigslist.org/sfc/apa/index200.html,1,0,0,0,0
16,(SOMA / south beach),Furnished B&T loft w/ office+patio *10-12mo le...,$5500,1,4045960170,0.000000,Sep 4 2013,/sfc/apa/4045960170.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index200.html,0,1,0,0,0
17,(SOMA / south beach),Channel Your Inner Explorer,$3274,1,4046428851,-122.389905,Sep 4 2013,/sfc/apa/4046428851.html,37.774243,758,http://sfbay.craigslist.org/sfc/apa/index100.html,0,1,0,0,0
18,(twin peaks / diamond hts),Remodeled Clarendon Heights Home with VIEWS; G...,$8200,3,4046427054,-122.449987,Sep 4 2013,/sfc/apa/4046427054.html,37.758892,0,http://sfbay.craigslist.org/sfc/apa/index100.html,0,0,0,1,0
19,(castro / upper market),Luxury Home in Clarendon Heights with VIEWS; P...,$8200,3,4046420052,-122.450395,Sep 4 2013,/sfc/apa/4046420052.html,37.758858,0,http://sfbay.craigslist.org/sfc/apa/index100.html,0,0,0,1,0
20,(financial district),Modern 1 BD/ 1 BA condo in a historic building...,$2995,1,4026544139,0.000000,Sep 4 2013,/sfc/apa/4026544139.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index100.html,0,1,0,0,0
21,(richmond / seacliff),"Bright and Spacious Top Floor Studio, Hardwood...",$1695,0,4036933089,0.000000,Sep 4 2013,/sfc/apa/4036933089.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index100.html,1,0,0,0,0
22,(pacific heights),Remodeled Two Bedroom With New Carpet & Parkin...,$3000,2,4046390878,-122.438056,Sep 4 2013,/sfc/apa/4046390878.html,37.789326,0,http://sfbay.craigslist.org/sfc/apa/index100.html,0,0,1,0,0
23,(SOMA / south beach),Live/Work Loft + HUGE 400 Sqft Patio *PICS*,$3900,1,4031288668,-122.395744,Sep 4 2013,/sfc/apa/4031288668.html,37.777698,950,http://sfbay.craigslist.org/sfc/apa/index100.html,0,1,0,0,0
24,(castro / upper market),NEWLY REDECORATED WITH GARDEN VIEWS - GREAT LO...,$2400,1,4036566554,-122.435188,Sep 3 2013,/sfc/apa/4036566554.html,37.762671,0,http://sfbay.craigslist.org/sfc/apa/index700.html,0,1,0,0,0
25,(castro / upper market),Gorgeous furnished townhouse with private elev...,$10000,3,4044142664,-122.428202,Sep 3 2013,/sfc/apa/4044142664.html,37.759692,0,http://sfbay.craigslist.org/sfc/apa/index700.html,0,0,0,1,0
26,(glen park),Exquisite Furnished home. ~ J.Wavro,$9750,4,4044135676,-122.428977,Sep 3 2013,/sfc/apa/4044135676.html,37.736388,0,http://sfbay.craigslist.org/sfc/apa/index700.html,0,0,0,0,1
27,(twin peaks / diamond hts),Large Miraloma Park 4bd/3ba single family home...,$4950,4,4044132086,-122.454932,Sep 3 2013,/sfc/apa/4044132086.html,37.741777,0,http://sfbay.craigslist.org/sfc/apa/index700.html,0,0,0,0,1
28,(SOMA / south beach),Full floor flat - 1 bedroom 1 bath ~ J.Wavro,$4200,1,4044127658,-122.395478,Sep 3 2013,/sfc/apa/4044127658.html,37.788092,0,http://sfbay.craigslist.org/sfc/apa/index700.html,0,1,0,0,0
29,(marina / cow hollow),Top floor remodeled studio. Available October ...,$2150,0,4044120912,-122.429855,Sep 3 2013,/sfc/apa/4044120912.html,37.802583,0,http://sfbay.craigslist.org/sfc/apa/index700.html,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,(potrero hill),Potrero Hill 2 bed 2 bath,$3995,2,4039439586,-122.402297,Sep 3 2013,/sfc/apa/4039439586.html,37.759621,1200,http://sfbay.craigslist.org/sfc/apa/index800.html,0,0,1,0,0
971,(alamo square / nopa),Wanted: Room/Studio near Alamo Square Park,$1500,0,4031457434,0.000000,Sep 3 2013,/sfc/apa/4031457434.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index800.html,1,0,0,0,0
972,(potrero hill),Unique House w/ Roof Decks & Amazing Views **V...,$5995,2,3985067949,-122.393365,Sep 3 2013,/sfc/apa/3985067949.html,37.760202,0,http://sfbay.craigslist.org/sfc/apa/index800.html,0,0,1,0,0
973,(SOMA / south beach),COME RENT!!! NEW Studios w IN UNIT washer dryer!,$2426,0,4043617578,0.000000,Sep 3 2013,/sfc/apa/4043617578.html,0.000000,476,http://sfbay.craigslist.org/sfc/apa/index800.html,1,0,0,0,0
974,(cole valley / ashbury hts),Spectacular 4 bedroom house with amazing view ...,$6495,4,4043655481,-122.444412,Sep 3 2013,/sfc/apa/4043655481.html,37.763987,0,http://sfbay.craigslist.org/sfc/apa/index800.html,0,0,0,0,1
975,(ingleside / SFSU / CCSF),2BR/2BA Dynamic Townhouse in SF,$2900,2,4027146721,0.000000,Sep 3 2013,/sfc/apa/4027146721.html,0.000000,1001,http://sfbay.craigslist.org/sfc/apa/index800.html,0,0,1,0,0
976,(alamo square / nopa),3rd Floor Apt with two 2 master bedroom suites,$4800,2,4043584327,-122.438740,Sep 3 2013,/sfc/apa/4043584327.html,37.779660,900,http://sfbay.craigslist.org/sfc/apa/index800.html,0,0,1,0,0
977,(richmond / seacliff),"Upscale Studio - Heated Floors, New Kitchen & ...",$1675,0,4021211090,-122.490606,Sep 3 2013,/sfc/apa/4021211090.html,37.772954,450,http://sfbay.craigslist.org/sfc/apa/index900.html,1,0,0,0,0
978,(sunset / parkside),Spacious Studio with Parking at Lakewood Apart...,$1739,0,4019481190,-122.493398,Sep 3 2013,/sfc/apa/4019481190.html,37.714652,510,http://sfbay.craigslist.org/sfc/apa/index900.html,1,0,0,0,0
979,(north beach / telegraph hill),Modern North Beach 2BR/2BA including parking,$4600,2,4023934570,-122.412254,Sep 3 2013,/sfc/apa/4023934570.html,37.803918,1100,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,1,0,0
980,(alamo square / nopa),NOPA location-Bright and Sunny-Garden-Rent inc...,$2595,1,4043341830,-122.440314,Sep 3 2013,/sfc/apa/4043341830.html,37.776584,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,1,0,0,0
981,(marina / cow hollow),TOP Floor Flat - Views! 2 Bedrooms,$5600,2,4021628786,-122.442468,Sep 3 2013,/sfc/apa/4021628786.html,37.798112,1450,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,1,0,0
982,(noe valley),"Quiet Hill Top Building, Parking, GREAT VIEW",$2795,1,4043320679,-122.434317,Sep 3 2013,/sfc/apa/4043320679.html,37.753690,800,http://sfbay.craigslist.org/sfc/apa/index900.html,0,1,0,0,0
983,(SOMA / south beach),Gorgeous Bay Bridge View with Amazing Interior...,$3616,1,4043647984,-122.391336,Sep 3 2013,/sfc/apa/4043647984.html,37.787580,858,http://sfbay.craigslist.org/sfc/apa/index800.html,0,1,0,0,0
984,(inner sunset / UCSF),nice 1 bdr 1 bath on 16th ave & Irving,$1995,1,4043642151,-122.473698,Sep 3 2013,/sfc/apa/4043642151.html,37.762200,750,http://sfbay.craigslist.org/sfc/apa/index800.html,0,1,0,0,0
985,(richmond / seacliff),Top Floor 1BR with Hardwood Floors and Walk-in...,$2095,1,3997873729,0.000000,Sep 3 2013,/sfc/apa/3997873729.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index800.html,0,1,0,0,0
986,(richmond / seacliff),Secluded 1BR Bungalow w/ updated kitchen//Avai...,$1950,1,3987367704,-122.487106,Sep 3 2013,/sfc/apa/3987367704.html,37.783139,0,http://sfbay.craigslist.org/sfc/apa/index800.html,0,1,0,0,0
987,(SOMA / south beach),Great views from the 11th floor. awsome floor ...,$3290,1,4043527152,-122.393746,Sep 3 2013,/sfc/apa/4043527152.html,37.776448,0,http://sfbay.craigslist.org/sfc/apa/index800.html,0,1,0,0,0
988,(SOMA / south beach),"South Beach MarinaApartment - best views, don'...",$4425,2,4013354753,-122.389777,Sep 3 2013,/sfc/apa/4013354753.html,37.781400,954,http://sfbay.craigslist.org/sfc/apa/index800.html,0,0,1,0,0
989,(alamo square / nopa),"Large, quiet Edwardian 1BR//Available Now//One...",$2250,1,4043616322,-122.431147,Sep 3 2013,/sfc/apa/4043616322.html,37.775633,0,http://sfbay.craigslist.org/sfc/apa/index800.html,0,1,0,0,0
990,(russian hill),Great 1 bedroom with Golden Gate Bridge and Ci...,$3800,1,4001426634,-122.413423,Sep 3 2013,/sfc/apa/4001426634.html,37.799239,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,1,0,0,0
991,(ingleside / SFSU / CCSF),2br flat nr CCSF/SFSU,$2790,2,4028884954,-122.454107,Sep 3 2013,/sfc/apa/4028884954.html,37.721851,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,1,0,0
992,(financial district),Millennium Tower with parking and views,$6700,2,4012246039,-122.395813,Sep 3 2013,/sfc/apa/4012246039.html,37.791153,1268,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,1,0,0
993,(bayview),Spacious 3 bedroom move in today $2850 (flex...,$2850,3,4043301473,-122.386984,Sep 3 2013,/sfc/apa/4043301473.html,37.728919,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,0,1,0
994,(nob hill),Quiet Nob Hill Delight,$2800,1,4026873759,-122.419402,Sep 3 2013,/sfc/apa/4026873759.html,37.792593,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,1,0,0,0
995,(russian hill),Russian Hill Beautiful Sunny Remodeled Open Ho...,$2850,1,4031559983,-122.414681,Sep 3 2013,/sfc/apa/4031559983.html,37.802621,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,1,0,0,0
996,(bernal heights),Bi-level 3BR+ Home! Laundry + Pking!!!,$4295,3,3991643423,-122.422357,Sep 3 2013,/sfc/apa/3991643423.html,37.733800,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,0,1,0
997,(haight ashbury),Top Floor 1BR w/ Hardwood Floors and Walk-in C...,$2600,1,4001874436,0.000000,Sep 3 2013,/sfc/apa/4001874436.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,1,0,0,0
998,(marina / cow hollow),Top Floor Spacious Studio w/ Hardwood Floors &...,$2400,0,3982441423,0.000000,Sep 3 2013,/sfc/apa/3982441423.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index900.html,1,0,0,0,0
999,(pacific heights),"Top Floor, Hrdwd, City View, Roof Deck, W/D in...",$4995,3,4011593200,0.000000,Sep 3 2013,/sfc/apa/4011593200.html,0.000000,0,http://sfbay.craigslist.org/sfc/apa/index900.html,0,0,0,1,0

In [55]:
df = cl[(cl['sqft'] >= 500) & (cl['sqft'] <= 3000)]
df

,neighborhood,title,price,bedrooms,pid,longitude,date,link,latitude,sqft,sourcepage
0,(SOMA / south beach),"1bed + Den, 1bath at Mission Bay",$2895,1,4046628359,-122.399663,Sep 4 2013,/sfc/apa/4046628359.html,37.774623,950,http://sfbay.craigslist.org/sfc/apa/
1,(SOMA / south beach),Love where you live!,$3354,1,4046761563,0.000000,Sep 4 2013,/sfc/apa/4046761563.html,0.000000,710,http://sfbay.craigslist.org/sfc/apa/
2,(inner sunset / UCSF),We Welcome Your Furry Friends! Call Today!,$2865,1,4046661504,-122.470727,Sep 4 2013,/sfc/apa/4046661504.html,37.765739,644,http://sfbay.craigslist.org/sfc/apa/
3,(financial district),Golden Gateway Commons | 2BR + office townhous...,$5500,2,4036170429,0.000000,Sep 4 2013,/sfc/apa/4036170429.html,0.000000,1450,http://sfbay.craigslist.org/sfc/apa/
6,(SOMA / south beach),Made For The Die-hard Giants Fan,$3249,0,4046730047,-122.389798,Sep 4 2013,/sfc/apa/4046730047.html,37.774192,549,http://sfbay.craigslist.org/sfc/apa/
7,(russian hill),Open Concept 1bed 1bath,$2690,1,4046570245,-122.420787,Sep 4 2013,/sfc/apa/4046570245.html,37.796034,781,http://sfbay.craigslist.org/sfc/apa/
9,(pacific heights),"2bd/2.5ba, 2 car tandem parking @ 1998 Broadwa...",$6500,2,4046018830,-122.429850,Sep 4 2013,/sfc/apa/4046018830.html,37.794973,1400,http://sfbay.craigslist.org/sfc/apa/index200.html
11,(marina / cow hollow),"$4700. Top Flat, remodeled, newer building",$4700,2,4036079016,-122.435772,Sep 4 2013,/sfc/apa/4036079016.html,37.798487,1300,http://sfbay.craigslist.org/sfc/apa/index200.html
12,(SOMA / south beach),2/Bed Room /2Bath Room Apartment,$4500,2,4045848497,-122.401796,Sep 4 2013,/sfc/apa/4045848497.html,37.781521,941,http://sfbay.craigslist.org/sfc/apa/index200.html
14,(downtown / civic / van ness),Nice Jr 1 Bedroom: bright/spacious/hardwoods/p...,$2095,1,3999189643,-122.412680,Sep 4 2013,/sfc/apa/3999189643.html,37.786792,500,http://sfbay.craigslist.org/sfc/apa/index200.html
17,(SOMA / south beach),Channel Your Inner Explorer,$3274,1,4046428851,-122.389905,Sep 4 2013,/sfc/apa/4046428851.html,37.774243,758,http://sfbay.craigslist.org/sfc/apa/index100.html
23,(SOMA / south beach),Live/Work Loft + HUGE 400 Sqft Patio *PICS*,$3900,1,4031288668,-122.395744,Sep 4 2013,/sfc/apa/4031288668.html,37.777698,950,http://sfbay.craigslist.org/sfc/apa/index100.html
34,(financial district),Millennium Tower Luxury Condo - 3 Bedrooms/3 B...,$7500,3,4030460176,-122.395813,Sep 3 2013,/sfc/apa/4030460176.html,37.791153,1887,http://sfbay.craigslist.org/sfc/apa/index500.html
37,(noe valley),Charming Noe Valley 2 bdrm Victorian Flat,$3900,2,4044566329,-122.426506,Sep 3 2013,/sfc/apa/4044566329.html,37.753644,1070,http://sfbay.craigslist.org/sfc/apa/index500.html
41,(alamo square / nopa),Remodeled Furnished Sunny Studio,$2600,0,4044915921,0.000000,Sep 3 2013,/sfc/apa/4044915921.html,0.000000,550,http://sfbay.craigslist.org/sfc/apa/index400.html
43,(russian hill),Prime Russian Hill garden flat,$5300,2,4034865576,-122.420182,Sep 3 2013,/sfc/apa/4034865576.html,37.805015,1450,http://sfbay.craigslist.org/sfc/apa/index400.html
46,(richmond / seacliff),Very nice large modern 4 bedrooms 2.5 baths f...,$3800,4,4045671743,-122.483936,Sep 4 2013,/sfc/apa/4045671743.html,37.783931,2200,http://sfbay.craigslist.org/sfc/apa/index300.html
48,(SOMA / south beach),Treat yourself to the apartment you deserve!,$3169,1,4045685786,0.000000,Sep 4 2013,/sfc/apa/4045685786.html,0.000000,535,http://sfbay.craigslist.org/sfc/apa/index300.html
56,(SOMA / south beach),Sunny South-facing 1-bedrm with Floor-to-Ceili...,$3115,1,4044372868,-122.394755,Sep 3 2013,/sfc/apa/4044372868.html,37.775871,708,http://sfbay.craigslist.org/sfc/apa/index600.html
57,(inner sunset / UCSF),Studio for rent,$1300,0,4044372516,0.000000,Sep 3 2013,/sfc/apa/4044372516.html,0.000000,500,http://sfbay.craigslist.org/sfc/apa/index600.html
58,(richmond / seacliff),"Sunny Entire Top Story 2BR+1Bath Flat, Views f...",$2450,2,4044369374,-122.486701,Sep 3 2013,/sfc/apa/4044369374.html,37.777075,900,http://sfbay.craigslist.org/sfc/apa/index600.html
60,(financial district),"Spacious, Amazing Views of the North Bay, Ferr...",$5135,2,4044366867,-122.392342,Sep 3 2013,/sfc/apa/4044366867.html,37.791456,799,http://sfbay.craigslist.org/sfc/apa/index600.html
62,(excelsior / outer mission),Immaculate 2 bd / 2ba Family Home,$2500,2,4017450170,-122.426025,Sep 4 2013,/sfc/apa/4017450170.html,37.729397,1466,http://sfbay.craigslist.org/sfc/apa/
65,(richmond / seacliff),Large 2 BR/1 BA with Parking,$2650,2,4036673692,-122.479577,Sep 4 2013,/sfc/apa/4036673692.html,37.783098,1000,http://sfbay.craigslist.org/sfc/apa/
70,(Alta Loma & Eastmoor Ave.),Daly City home for rent,$3000,3,4045978167,-122.478884,Sep 4 2013,/sfc/apa/4045978167.html,37.684933,1450,http://sfbay.craigslist.org/sfc/apa/index200.html
71,(marina / cow hollow),Prime Cow Hollow,$8975,3,4045978082,-122.444558,Sep 4 2013,/sfc/apa/4045978082.html,37.795865,2700,http://sfbay.craigslist.org/sfc/apa/index200.html
72,(SOMA / south beach),Updated Top Floor Studio 9/15/13,$3219,0,4045961980,0.000000,Sep 4 2013,/sfc/apa/4045961980.html,0.000000,600,http://sfbay.craigslist.org/sfc/apa/index200.html
74,(SOMA / south beach),23rd Floor alcove corner 1bedroom w/ $0 deposit!*,$3650,1,4035813483,-122.402025,Sep 4 2013,/sfc/apa/4035813483.html,37.786248,756,http://sfbay.craigslist.org/sfc/apa/index200.html
75,(twin peaks / diamond hts),Suburban City Life. The Best of Both Worlds!,$2625,1,4045930555,-122.439559,Sep 4 2013,/sfc/apa/4045930555.html,37.744708,615,http://sfbay.craigslist.org/sfc/apa/index200.html
76,(castro / upper market),2-Bedroom Castro/Upper Market,$2950,2,4046408764,-122.433637,Sep 4 2013,/sfc/apa/4046408764.html,37.757751,800,http://sfbay.craigslist.org/sfc/apa/index100.html
...,...,...,...,...,...,...,...,...,...,...,...
915,(downtown / civic / van ness),Beautiful Home In Down Town SF. Avail.Now!!,$3128,1,4044153060,0.000000,Sep 3 2013,/sfc/apa/4044153060.html,0.000000,789,http://sfbay.craigslist.org/sfc/apa/index600.html
918,(haight ashbury),"Large, Modern Unit - lots of light",$3150,1,4044148383,-122.450501,Sep 3 2013,/sfc/apa/4044148383.html,37.769553,900,http://sfbay.craigslist.org/sfc/apa/index600.html
919,(inner sunset / UCSF),Avalon Sunset Towers offers Gated Entrance and...,$2705,1,4044147425,-122.462864,Sep 3 2013,/sfc/apa/4044147425.html,37.759540,668,http://sfbay.craigslist.org/sfc/apa/index600.html
928,(bernal heights),Beautiful 3 bed 2 bath with office/parking/gar...,$5295,3,4043355136,0.000000,Sep 3 2013,/sfc/apa/4043355136.html,0.000000,1500,http://sfbay.craigslist.org/sfc/apa/index900.html
930,(USF / panhandle),7br/3.5ba ►PHOTOS ►OPEN HOME THURSDAY ►Remodel...,$8999,7,4043325594,-122.449047,Sep 3 2013,/sfc/apa/4043325594.html,37.782177,2500,http://sfbay.craigslist.org/sfc/apa/index900.html
932,(nob hill),"Retro Chic 3 bed 3 ba Condo w/ Views, Gym, Poo...",$6995,3,3996956548,-122.413737,Sep 3 2013,/sfc/apa/3996956548.html,37.791463,2300,http://sfbay.craigslist.org/sfc/apa/index900.html
933,(SOMA / south beach),Beautiful loft - Move in immediately,$3446,1,4043379997,0.000000,Sep 3 2013,/sfc/apa/4043379997.html,0.000000,785,http://sfbay.craigslist.org/sfc/apa/index900.html
934,(lower pac hts),2BR/2BA *Furnished* Spacious Flat for Rent,$5480,2,4040863105,-122.436512,Sep 4 2013,/sfc/apa/4040863105.html,37.785402,1266,http://sfbay.craigslist.org/sfc/apa/index200.html
937,(bernal heights),Beautiful updated with top appliances Victori...,$3950,2,4040489639,0.000000,Sep 4 2013,/sfc/apa/4040489639.html,0.000000,650,http://sfbay.craigslist.org/sfc/apa/index200.html
940,(ingleside / SFSU / CCSF),Comfortable 3-4 Bedroom House On Victoria @ Ho...,$3300,4,4045989227,-122.465556,Sep 4 2013,/sfc/apa/4045989227.html,37.721699,1400,http://sfbay.craigslist.org/sfc/apa/index100.html
941,(inner sunset / UCSF),Plenty of Closet Space in this Large Renovated...,$2805,1,4046025100,-122.462864,Sep 4 2013,/sfc/apa/4046025100.html,37.759540,721,http://sfbay.craigslist.org/sfc/apa/index100.html
943,(SOMA / south beach),"2bd/2ba, city and Twin Peak views, One Rincon ...",$5700,2,4046020232,-122.392931,Sep 4 2013,/sfc/apa/4046020232.html,37.786233,1238,http://sfbay.craigslist.org/sfc/apa/index100.html
950,(SOMA / south beach),Brand New With Gorgeous Views,$3674,1,4043684730,-122.389884,Sep 3 2013,/sfc/apa/4043684730.html,37.774090,683,http://sfbay.craigslist.org/sfc/apa/index800.html
951,(SOMA / south beach),Sunny Second Floor Home,$4373,2,4043683382,0.000000,Sep 3 2013,/sfc/apa/4043683382.html,0.000000,1120,http://sfbay.craigslist.org/sfc/apa/index800.html
953,(laurel hts / presidio),"Spaciou, modern 2 bdr 1bath w/ Wood Floors nea...",$3400,2,4043359300,-122.459045,Sep 3 2013,/sfc/apa/4043359300.html,37.783827,1000,http://sfbay.craigslist.org/sfc/apa/index900.html
955,(sunset / parkside),Over 2300sqft!! Elegant and spacious 2 story h...,$4750,5,4036407142,0.000000,Sep 3 2013,/sfc/apa/4036407142.html,0.000000,2308,http://sfbay.craigslist.org/sfc/apa/index900.html
960,(nob hill),2 Bed/1 Bath on Best Block. Walk Downtown,$3600,2,4039337408,0.000000,Sep 3 2013,/sfc/apa/4039337408.html,0.000000,1000,http://sfbay.craigslist.org/sfc/apa/index800.html
963,(inner richmond),CLASSIC DECO BEAUTY INC PARKING GG BRIDGE VU 3...,$2750,1,4027707410,-122.468741,Sep 3 2013,/sfc/apa/4027707410.html,37.775209,800,http://sfbay.craigslist.org/sfc/apa/index900.html
969,(inner richmond),CLASSIC BEAUTY CUSTOM PAINT GG BRIDGE VU 3 CL...,$2450,1,4027779265,-122.468741,Sep 3 2013,/sfc/apa/4027779265.html,37.775209,800,http://sfbay.craigslist.org/sfc/apa/index900.html
970,(potrero hill),Potrero Hill 2 bed 2 bath,$3995,2,4039439586,-122.402297,Sep 3 2013,/sfc/apa/4039439586.html,37.759621,1200,http://sfbay.craigslist.org/sfc/apa/index800.html
975,(ingleside / SFSU / CCSF),2BR/2BA Dynamic Townhouse in SF,$2900,2,4027146721,0.000000,Sep 3 2013,/sfc/apa/4027146721.html,0.000000,1001,http://sfbay.craigslist.org/sfc/apa/index800.html
976,(alamo square / nopa),3rd Floor Apt with two 2 master bedroom suites,$4800,2,4043584327,-122.438740,Sep 3 2013,/sfc/apa/4043584327.html,37.779660,900,http://sfbay.craigslist.org/sfc/apa/index800.html
978,(sunset / parkside),Spacious Studio with Parking at Lakewood Apart...,$1739,0,4019481190,-122.493398,Sep 3 2013,/sfc/apa/4019481190.html,37.714652,510,http://sfbay.craigslist.org/sfc/apa/index900.html
979,(north beach / telegraph hill),Modern North Beach 2BR/2BA including parking,$4600,2,4023934570,-122.412254,Sep 3 2013,/sfc/apa/4023934570.html,37.803918,1100,http://sfbay.craigslist.org/sfc/apa/index900.html
981,(marina / cow hollow),TOP Floor Flat - Views! 2 Bedrooms,$5600,2,4021628786,-122.442468,Sep 3 2013,/sfc/apa/4021628786.html,37.798112,1450,http://sfbay.craigslist.org/sfc/apa/index900.html
982,(noe valley),"Quiet Hill Top Building, Parking, GREAT VIEW",$2795,1,4043320679,-122.434317,Sep 3 2013,/sfc/apa/4043320679.html,37.753690,800,http://sfbay.craigslist.org/sfc/apa/index900.html
983,(SOMA / south beach),Gorgeous Bay Bridge View with Amazing Interior...,$3616,1,4043647984,-122.391336,Sep 3 2013,/sfc/apa/4043647984.html,37.787580,858,http://sfbay.craigslist.org/sfc/apa/index800.html
984,(inner sunset / UCSF),nice 1 bdr 1 bath on 16th ave & Irving,$1995,1,4043642151,-122.473698,Sep 3 2013,/sfc/apa/4043642151.html,37.762200,750,http://sfbay.craigslist.org/sfc/apa/index800.html
988,(SOMA / south beach),"South Beach MarinaApartment - best views, don'...",$4425,2,4013354753,-122.389777,Sep 3 2013,/sfc/apa/4013354753.html,37.781400,954,http://sfbay.craigslist.org/sfc/apa/index800.html
992,(financial district),Millennium Tower with parking and views,$6700,2,4012246039,-122.395813,Sep 3 2013,/sfc/apa/4012246039.html,37.791153,1268,http://sfbay.craigslist.org/sfc/apa/index900.html

In [65]:
cl = pd.read_csv('items.csv')
def clean_dr(value):
    if isinstance(value, str):
        start = value.find('$') + 1
        return int(value[start:])
cl['price'] = cl['price'].map(clean_dr)

bins = [0, 1500, 3000, 4500, 6000, 7500]
cats = pd.cut(cl['price'], bins)
print(pd.value_counts(cats))

(1500, 3000]    389
(3000, 4500]    294
(4500, 6000]    141
(6000, 7500]     60
(0, 1500]        21
Name: price, dtype: int64