### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [51]:
import pandas as pd
import numpy as np

In [52]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 

# Read in the airports data.
airports = pd.read_csv("airports.dat", header=None, na_values='\\N')
airports.columns = ["id", "name", "city", "country", "iata", "icao", "latitude", "longitude", "altitude","timezone", "dst", "tz", "type", "source"]

# Read in the airlines data.
airlines = pd.read_csv("airlines.dat", header=None, na_values='\\N')
airlines.columns = ["id", "name", "alias", "iata", "icao", "callsign", "country", "active"]

# Read in the routes data.
routes = pd.read_csv("routes.dat", header=None, na_values='\\N')
routes.columns = ["airline", "airline_id", "source", "source_id", "dest", "dest_id", "codeshare", "stops", "equipment"]

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

In [70]:
airports.dtypes

id             int64
name          object
city          object
country       object
iata          object
icao          object
latitude     float64
longitude    float64
altitude       int64
timezone     float64
dst           object
tz            object
type          object
source        object
dtype: object

In [72]:
airlines.dtypes

id           int64
name        object
alias       object
iata        object
icao        object
callsign    object
country     object
active      object
dtype: object

In [74]:
routes.dtypes

airline        object
airline_id    float64
source         object
source_id     float64
dest           object
dest_id       float64
codeshare      object
stops           int64
equipment      object
dtype: object

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

In [56]:
rlex = routes[(routes['source'] == 'LEX') | (routes['dest'] == 'LEX')]
rlex

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
3588,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
5763,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ
5764,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4
5765,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
6283,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
9097,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717
9641,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9
20164,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717
20534,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ
20638,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717
21095,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717
21096,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ
21097,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9
21098,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ
21099,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ
21131,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ
21402,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ
28951,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80
29047,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80
29048,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80
29049,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320
29050,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320
29090,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80
29120,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320
29187,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320
36396,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ
36746,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ
56775,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ
57029,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ
57030,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ
57322,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ
58812,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
59096,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD
59544,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7
59545,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD
59546,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
59924,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4

In [57]:
rout=rlex['source'].str.count('LEX').sum()
rout

20

In [58]:
rin=rlex['dest'].str.count('LEX').sum()
rin

20

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

In [63]:
rlines = pd.merge(airlines, rlex, left_on='id', right_on='airline_id')
rlines

,id,name,alias,iata,icao,callsign,country,active,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
1,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
2,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ
3,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4
4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
5,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
6,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80
7,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80
8,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80
9,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320
10,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320
11,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80
12,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320
13,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320
14,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717
15,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9
16,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717
17,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ
18,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717
19,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717
20,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ
21,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9
22,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ
23,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ
24,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ
25,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ
26,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ
27,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ
28,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
29,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
30,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ
31,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ
32,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ
33,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ
34,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
35,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD
36,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7
37,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD
38,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
39,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4

In [64]:
rlines['name'].value_counts()

Delta Air Lines             10
Allegiant Air                8
US Airways                   6
American Airlines            6
United Airlines              4
Air France                   2
Pinnacle Airlines            2
KLM Royal Dutch Airlines     2
Name: name, dtype: int64

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

In [65]:
def clean_ar(value):
    if isinstance(value, str):
        end = value.find('United States')
        if end == -1:
            return 'Y'
        else:
            return 'N'
rlines['international'] = rlines['country'].map(clean_ar)

rlines

,id,name,alias,iata,icao,callsign,country,active,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,international
0,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,N
1,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,N
2,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,N
3,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,N
4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,N
5,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,N
6,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,N
7,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,N
8,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,N
9,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,N
10,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,N
11,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,N
12,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,N
13,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,N
14,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Y
15,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,Y
16,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,N
17,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,N
18,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,N
19,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,N
20,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,N
21,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,N
22,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,N
23,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,N
24,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,N
25,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,N
26,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,Y
27,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,Y
28,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,N
29,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,N
30,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,N
31,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,N
32,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,N
33,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,N
34,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,N
35,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,N
36,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,N
37,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,N
38,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,N
39,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,N

In [66]:
prcnt = ((rlines['international'].str.count('Y').sum()) / (rlines['international'].value_counts().sum())) * 100
prcnt

10.0

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.

In [89]:
rports = rlines.drop_duplicates(['source', 'dest', 'codeshare'])
rports

,id,name,alias,iata,icao,callsign,country,active,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,international
0,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7,N
1,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,N
2,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,N
3,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,N
4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,N
5,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,N
6,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80,N
7,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80,N
8,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80,N
9,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320,N
10,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,N
11,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80,N
12,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320,N
13,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,N
14,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,Y
15,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,Y
16,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,N
17,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ,N
18,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717,N
19,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,N
20,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ,N
21,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,N
22,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,N
23,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ,N
24,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ,N
25,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ,N
30,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ,N
31,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ,N
35,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD,N
36,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7,N
37,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD,N

In [90]:
uniques = routes.drop_duplicates(['source', 'dest', 'codeshare'])
uniques[:200]

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2
5,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2
6,2B,410.0,DME,4029.0,NBC,6969.0,NaN,0,CR2
7,2B,410.0,DME,4029.0,TGK,NaN,NaN,0,CR2
8,2B,410.0,DME,4029.0,UUA,6160.0,NaN,0,CR2
9,2B,410.0,EGO,6156.0,KGD,2952.0,NaN,0,CR2
10,2B,410.0,EGO,6156.0,KZN,2990.0,NaN,0,CR2
11,2B,410.0,GYD,2922.0,NBC,6969.0,NaN,0,CR2
12,2B,410.0,KGD,2952.0,EGO,6156.0,NaN,0,CR2
13,2B,410.0,KZN,2990.0,AER,2965.0,NaN,0,CR2
14,2B,410.0,KZN,2990.0,ASF,2966.0,NaN,0,CR2
15,2B,410.0,KZN,2990.0,CEK,2968.0,NaN,0,CR2
16,2B,410.0,KZN,2990.0,DME,4029.0,NaN,0,CR2
17,2B,410.0,KZN,2990.0,EGO,6156.0,NaN,0,CR2
18,2B,410.0,KZN,2990.0,LED,2948.0,NaN,0,CR2
19,2B,410.0,KZN,2990.0,SVX,2975.0,NaN,0,CR2
20,2B,410.0,LED,2948.0,KZN,2990.0,NaN,0,CR2
21,2B,410.0,LED,2948.0,NBC,6969.0,NaN,0,CR2
22,2B,410.0,LED,2948.0,UUA,6160.0,NaN,0,CR2
23,2B,410.0,MRV,2962.0,ASF,2966.0,NaN,0,CR2
24,2B,410.0,NBC,6969.0,DME,4029.0,NaN,0,CR2
25,2B,410.0,NBC,6969.0,GYD,2922.0,NaN,0,CR2
26,2B,410.0,NBC,6969.0,LED,2948.0,NaN,0,CR2
27,2B,410.0,NBC,6969.0,SVX,2975.0,NaN,0,CR2
28,2B,410.0,NJC,2972.0,SVX,2975.0,NaN,0,CR2
29,2B,410.0,NJC,2972.0,UUA,6160.0,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
172,2O,146.0,ADQ,3531.0,KLN,7162.0,NaN,0,BNI
173,2O,146.0,ADQ,3531.0,KOZ,7164.0,NaN,0,BNI
174,2O,146.0,ADQ,3531.0,OLH,7163.0,NaN,0,BNI
175,2O,146.0,AOS,7167.0,KZB,7176.0,NaN,0,BNI
176,2O,146.0,KKB,7168.0,SYB,7173.0,NaN,0,BNI
177,2O,146.0,KLN,7162.0,KYK,7161.0,NaN,0,BNI
178,2O,146.0,KOZ,7164.0,ORI,7165.0,NaN,0,BNI
179,2O,146.0,SYB,7173.0,KPR,7172.0,NaN,0,BNI
180,2P,897.0,BSO,6019.0,MNL,2397.0,NaN,0,DH4
181,2P,897.0,BXU,4200.0,MNL,2397.0,NaN,0,320
182,2P,897.0,CBO,2399.0,MNL,2397.0,NaN,0,320
183,2P,897.0,CGY,2400.0,MNL,2397.0,NaN,0,320
184,2P,897.0,CRM,6024.0,MNL,2397.0,NaN,0,DH4
185,2P,897.0,DGT,2425.0,MNL,2397.0,NaN,0,320
186,2P,897.0,DWC,8076.0,MNL,2397.0,NaN,0,330
187,2P,897.0,GES,2402.0,MNL,2397.0,Y,0,320
188,2P,897.0,KLO,2430.0,MNL,2397.0,NaN,0,320
189,2P,897.0,LGP,4203.0,MNL,2397.0,NaN,0,320
190,2P,897.0,MNL,2397.0,BSO,6019.0,NaN,0,DH4
191,2P,897.0,MNL,2397.0,BXU,4200.0,NaN,0,320
192,2P,897.0,MNL,2397.0,CBO,2399.0,NaN,0,320
193,2P,897.0,MNL,2397.0,CGY,2400.0,NaN,0,320
194,2P,897.0,MNL,2397.0,CRM,6024.0,NaN,0,DH4
195,2P,897.0,MNL,2397.0,DGT,2425.0,NaN,0,320
196,2P,897.0,MNL,2397.0,DWC,8076.0,NaN,0,330
197,2P,897.0,MNL,2397.0,GES,2402.0,Y,0,320
198,2P,897.0,MNL,2397.0,KLO,2430.0,NaN,0,320
199,2P,897.0,MNL,2397.0,LGP,4203.0,NaN,0,320
200,2P,897.0,MNL,2397.0,MPH,2426.0,NaN,0,DH3
201,2P,897.0,MNL,2397.0,OZC,4204.0,NaN,0,320

In [98]:
uniq_outbound = uniques['source'].value_counts()
uniq_outbound
uniq_inbound = uniques['dest'].value_counts()
uniq_inbound
outlex = uniques['source'].str.count('LEX').sum()
outlex
intlex = uniques['dest'].str.count('LEX').sum()
intlex
rlexout=rports['source'].str.count('LEX').sum()
rlexout
rlexin=rports['dest'].str.count('LEX').sum()
rlexin

15

In [100]:
rlexout=rports['source'].str.count('LEX').sum()
rlexout
rlexin=rports['dest'].str.count('LEX').sum()
rlexin

15